<ion-header>
  <ion-toolbar>
    <ion-title>
      Leaflet Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-label>Select Basemap</ion-label>
      <ion-select [(ngModel)]="selectedBasemap" (ionChange)="onBasemapChange($event)">
        <ion-select-option value="osm">OpenStreetMap</ion-select-option>
        <ion-select-option value="terrain">Terrain</ion-select-option>
        <ion-select-option value="satellite">Satellite</ion-select-option>
      </ion-select>
    </ion-item>
    

  <div id="mapId" style="height: 100%;"></div>
</ion-content>
